body {
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto,arial,sans-serif;
 	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% auto; 
}
.loginForm{
	background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
	opacity: 0.9;
	filter: alpha(opacity=80);
}
.loginForm a:hover{
	cursor:pointer;
}
.wrapper {
    text-align: center;
}
.container {
    padding: 25px;
    position: relative;
	float: center;
}
.content{
	position: absolute;
	min-height : 600px;
	width: 80%;
	left: 220px;
	background-color: #EDEDED;
	opacity: 0.9;
	filter: alpha(opacity=80);
	padding: 8px; 
    border-radius: 8px;
}
.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
	background-color: #EDEDED;
	opacity: 0.9;
	filter: alpha(opacity=80);
    border-radius: 8px;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
    cursor: pointer;
}

.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a :hover {
    background-color: #428bca;  
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.searchBox{
	position:absolute;
	width: 200px;
	left: 75%;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.items{
	position:relative;
	top: 10%;
	width: 80%;
}
.item{
    width: 70%;
	border-style: solid;
    border-width: 1px;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 15px;
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
}
.openPerspective{
	display: inline-block;
	position:relative;
	left: 80%;
	bottom:15px;
}
