<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>XmlProjekat</display-name>
  <welcome-file-list>
    <welcome-file>StartServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>controller.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfGenerator</display-name>
    <servlet-name>PdfGenerator</servlet-name>
    <servlet-class>controller.PdfGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfGenerator</servlet-name>
    <url-pattern>/PdfGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HtmlGenerator</display-name>
    <servlet-name>HtmlGenerator</servlet-name>
    <servlet-class>controller.HtmlGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlGenerator</servlet-name>
    <url-pattern>/HtmlGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseSearchServlet</display-name>
    <servlet-name>BrowseSearchServlet</servlet-name>
    <servlet-class>controller.BrowseSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseSearchServlet</servlet-name>
    <url-pattern>/BrowseSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlGenerator</display-name>
    <servlet-name>XmlGenerator</servlet-name>
    <servlet-class>controller.XmlGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlGenerator</servlet-name>
    <url-pattern>/XmlGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAct</display-name>
    <servlet-name>UploadAct</servlet-name>
    <servlet-class>controller.UploadAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAct</servlet-name>
    <url-pattern>/UploadAct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewAct</display-name>
    <servlet-name>AddNewAct</servlet-name>
    <servlet-class>controller.AddNewAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewAct</servlet-name>
    <url-pattern>/AddNewAct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAmandman</display-name>
    <servlet-name>UploadAmandman</servlet-name>
    <servlet-class>controller.UploadAmandman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAmandman</servlet-name>
    <url-pattern>/UploadAmandman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAmandman</display-name>
    <servlet-name>AddAmandman</servlet-name>
    <servlet-class>controller.AddAmandman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAmandman</servlet-name>
    <url-pattern>/AddAmandman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>controller.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewAmandman</display-name>
    <servlet-name>AddNewAmandman</servlet-name>
    <servlet-class>controller.AddNewAmandman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewAmandman</servlet-name>
    <url-pattern>/AddNewAmandman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSjednicaOn</display-name>
    <servlet-name>SetSjednicaOn</servlet-name>
    <servlet-class>controller.SetSjednicaOn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSjednicaOn</servlet-name>
    <url-pattern>/SetSjednicaOn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSjednicaOff</display-name>
    <servlet-name>SetSjednicaOff</servlet-name>
    <servlet-class>controller.SetSjednicaOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSjednicaOff</servlet-name>
    <url-pattern>/SetSjednicaOff</url-pattern>
  </servlet-mapping>
</web-app>